.deps/
.dirstamp
*.o
*.swp
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.status.lineno
configure
configure.lineno
depcomp
install-sh
missing
stamp-h?
source.out

# binarios
source
src/mypas
tests/lexer_test
tests/parser_test
tests/symtab_test
tests/builtin_functions_test

# logs
tests/.symtab.log
