.deps/
.dirstamp
*.o
*.swp
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.status.lineno
configure
configure.lineno
depcomp
install-sh
missing
stamp-h?
mountmyenv
mountmyenvtests

